* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto auto;
  border-radius: 50px;
  background: linear-gradient(315deg, #ababab, #cbcbcb);
  box-shadow: -39px -39px 87px #909090, 39px 39px 87px #ececec;
  padding: 2rem;
  width: 50%;
}

h1 {
  font-size: 3rem;
  margin: 2rem;
  font-weight: 800;
  text-decoration: underline;
}

input {
  width: 70%;
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
  border: 2.5px solid black;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
  font-weight: 500;
}

.container-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bebebe;
}

@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .App {
    width: 78%;
  }
}

@media only screen and (max-width: 705px) and (min-width: 570px) {
  .App {
    width: 95%;
  }
}

@media only screen and (max-width: 575px) {
  .App {
    width: 95%;
    padding: 2rem 1rem;
    margin: 1.2rem;
  }
  h1 {
    margin: auto;
    font-size: 2.5rem;
  }
  input {
    padding: 0;
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
}
